.border-card {
  border-radius: 2px;
  margin: 10px;
}

.card-body {
  box-shadow: #04000a 0 5px 2px -2px;
  background-color: #1b053e;
  width: 25rem;
  height: auto;
}

.card-text{
  color: rgb(255, 255, 255);
  padding: 1.5rem;
}

.img-size {
  width: 25rem;
  height: 15rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.container-nav {
  padding: 1rem;
  background-color: #1b053e;
  color: rgb(255, 255, 255);
}

.gap {
  gap: 10px;
}

.links {
  color: #a19ca1;
  text-decoration: none;
}

.links:hover {
  color: rgb(212, 215, 18);
  text-decoration: none;
}

.search-input{
  width: 10rem;
  height: 1.5rem;
  background-color: #a19ca1;
  color: #1b053e;
  padding-top: 0.5rem;
  text-decoration: none;
  border: transparent;
  border-bottom: #1b053e solid 1px;
  box-shadow: #04000a 0 2px 2px -2px;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;;
}

.search-input:focus {
  outline: none;
}

body{
  background-color: #a19ca1;
  font-family: 'Segoe UI';
}